<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Удаление игрока</title>
</head>
<body>
<form th:action="@{/users/remove}" method="post">
  <div>
    <h1>Удалить профиль</h1>
    <input type="hidden" th:name="id" th:value="${user.id}"/>
    <p>Вы уверены, что хотите удалить пользователя <span th:text="${user.getNickname()}"></span> с ID <span
            th:text="${user.getId()}"></span>?</p>
    <br>
    <button type="submit">Удалить</button>
  </div>
</form>
</body>
</html>